<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">other</a></li>
        </ul>
    </div>
    </div>
</nav>