<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{> head}}
</head>
<body>
    {{> header}}
    {{> main}}
    {{> footer}}

    <!-- 脚本区 -->
    {{> script}}
</body>
</html>